.footer {
    background: #111827;
    color: #fff;
    padding: 60px 8% 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.footer-brand h3 {
    font-size: 26px;
    margin-bottom: 12px;
}

.footer-brand p {
    color: #cbd5e1;
    margin: 0;
}

.footer-links,
.footer-social {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer h4 {
    font-size: 18px;
    margin-bottom: 8px;
}

.footer a {
    color: #cbd5e1;
    text-decoration: none;
    transition: 0.3s;
}

.footer a:hover {
    color: #0d6efd;
}


/* foote theme css */
body[page-theme="dark"] .footer {
    background-color: #121212;
    color: #ffffff;
    border-top: 1px solid #2a2a2a;
}

body[page-theme="dark"] .footer-brand h3 {
    color: #ffffff;
}

body[page-theme="dark"] .footer-brand p {
    color: #cfcfcf;
}

body[page-theme="dark"] .footer-links h4,
body[page-theme="dark"] .footer-social h4 {
    color: #ffffff;
}

body[page-theme="dark"] .footer-links a,
body[page-theme="dark"] .footer-social a {
    color: #cfcfcf;
}

body[page-theme="dark"] .footer-links a:hover,
body[page-theme="dark"] .footer-social a:hover {
    color: #0d6efd;
}
