.skills-section {
    padding: 50px 0;
    background: #fff;
}
.skills-section h2 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 50px;
    color: #212529;
}
.skills-grid {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.skill-card {
    background: #fff;
    height: 75px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    border: 1px solid #e9ecef;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    transition: 0.3s ease;
}
.skill-card i {
    font-size: 26px;
}
.skill-card span {
    font-size: 12px;
    font-weight: 600;
}
.skill-card:hover {
    transform: translateY(-7px);
    border-color: #0d6efd;
    box-shadow: 0 8px 25px rgba(13, 110, 253, 0.15);
}

/* Skills theme css */
body[page-theme="dark"] .skills-section {
    background-color: #121212;
    color: #ffffff;
    border-bottom: 1px solid #2a2a2a;
}
body[page-theme="dark"] .skills-section h2 {
    color: #ffffff;
}
body[page-theme="dark"] .skill-card {
    background-color: #1e1e1e;
    border-color: #2a2a2a;
}
body[page-theme="dark"] .skill-card span {
    color: #ffffff;
}